h1 {
    color: black;
}
img {
    width: 400px;
    height: 300px;
}
.name {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: lightskyblue;
}
body {
    background-image: url('space.jpg');
}
