h1 {
    color: midnightblue;
}
img {
    width: 300px;
    height: 200px;
}
.name {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: lightskyblue;
}
body {
    background-image: url('space.jpg');
}

.over-img{
    position: absolute;
    top: 80%;
    left: -3%;
}

.left{
    width: 100%;
    margin: auto;
    text-align: left;
}

.html-list{
    list-style-type: none;
}